extend layout

block content
  link(rel='stylesheet', href='/css/markdown.css')
  script(src="/js/Markdown.Converter.js")
  script(src="/js/Markdown.Editor.js")
  script(src="/js/Markdown.Sanitizer.js")

  form(name="postForm", action="/post/update/"+post._id, method="POST")
    div
      lable.formLabel Title
      input.mormalInput(name="title", class="formControl", value=post.title, required="required")
      
    div
      label.formLabel Tags
      input.mormalInput(name="tags", class="formControl", value=post.tags, required="required")

    div.wmd-panel
      label.formLabel Content
      #wmd-button-bar
      textarea.wmd-input(id="wmd-input" name="content", class="formControl postContentField", required="required")=post.content
    div.wmd-preview
      
    div
      input.submit(type="submit", value="Submit")

    script.
      (function () {
      var converter = new Markdown.Converter();
      var editor = new Markdown.Editor(converter);
      editor.run();
      })();
      
    div.divider
