extend layout

block content
  link(rel='stylesheet', href='/css/markdown.css')
  link(rel='stylesheet', href='/css/uploadify.css');
  script(src="/js/Markdown.Converter.js")
  script(src="/js/Markdown.Editor.js")
  script(src="/js/Markdown.Sanitizer.js")
  script(src="/js/jquery-1.10.2.min.js")
  script(src="/js/jquery.uploadify.min.js")

  form(name="postForm", action="/post/add", method="POST")
    div
      lable.formLabel Title
      input(name="title", class="formControl", size="60", required="required")

    div
      label.formLabel Tags
      input(name="tags", class="formControl", size="60", required="required")
     
    div.wmd-panel
      label.formLabel Content
      #wmd-button-bar
      textarea.wmd-input(id="wmd-input" name="content", class="formControl postContentField", required="required")
    div.wmd-preview

    div
      input.submit(type="submit", value="Submit")

    script.
      (function () {
      var converter = new Markdown.Converter();
      var editor = new Markdown.Editor(converter);
      editor.run();
      })();
    
    div.divider
