extend layout

block content
  link(rel='stylesheet', href='/css/markdown.css')
  script(src="/js/Markdown.Converter.js")
  script(src="/js/Markdown.Editor.js")
  script(src="/js/Markdown.Sanitizer.js")

  form(name="postForm", action="/post/add", method="POST")
    div
      lable.addPostLabel Title
      input.postTitle(name="title", class="formControl", size="60", required="required")

    div
      label.addPostLabel Tags
      input.postTags(name="tags", class="formControl", size="60", required="required")
     
    div.wmd-panel
      label.addPostLabel Content
      #wmd-button-bar
      textarea.wmd-input(id="wmd-input" name="content", class="formControl postContentField", required="required")
    div.wmd-preview

    div
      label.addPostLabel Files
      div.fileList
      input(type="file")
 
    div
      input.postSubmit(type="submit", value="Submit")

    script.
      (function () {
      var converter = new Markdown.Converter();
      var editor = new Markdown.Editor(converter);
      editor.run();
      })();
    
    div.divider
