extend layout

block content

  form.passwdForm(name="passwdForm", action="/user/passwd", method="POST")
    div
      lable.formLabel Username
      input(name="username", value="#{username}", class="formControl passwdField", size="60", required="required")

    div
      lable.formLabel Old Password
      input(name="oldPassword", class="formControl passwdField", size="60", required="required")

    div
      label.formLabel New Password
      input(name="password", class="formControl passwdField", size="60", required="required")
     
    div
      label.formLabel Confirm
      input(name="password2", class="formControl passwdField", size="60", required="required")
     
    div
      input.submit(type="submit", value="Submit")

    div.divider
