extend layout

block content

  form.passwdForm(name="passwdForm", action="/user/passwd", method="POST")
    div
      input.smallInput(name="username", value="#{username}", placeholder="Username", class="formControl passwdField", required="required")

    div
      input.smallInput(name="oldPassword", type="password", placeholder="Old Password",  class="formControl passwdField", required="required")

    div
      input.smallInput(name="password", type="password", placeholder="New Password", class="formControl passwdField", required="required")
     
    div
      input.smallInput(name="password2", type="password", placeholder="Confirm Password", class="formControl passwdField", required="required")
     
    div
      input.submit(type="submit", value="Submit")

    div.divider
