extend layout

block content
  form(name="loginForm", action="/user/login", method="POST")
    .loginForm
      input(name="referer" type="hidden" value="#{referer}")

      div
        input(name="username", class="formControl loginField", size="20", placeholder="Username", required="required")

      div
        input(name="password", class="formControl loginField", type="password", size="20", placeholder="Password", required="required")

      div
        input.submit(type="submit", value="Login")
